cache:
    - c:\cygwin-setup-cache

environment:
    matrix:
        - cygwin: https://cygwin.com/setup-x86_64.exe
        - cygwin: https://cygwin.com/setup-x86.exe

install:
    - ps: Invoke-WebRequest $env:cygwin -OutFile c:\cygwin-setup.exe
    - c:\cygwin-setup.exe --quiet-mode --no-shortcuts --no-startmenu --no-desktop --upgrade-also --only-site --site http://cygwin.mirror.constant.com/ --root c:\cygwin-root --local-package-dir c:\cygwin-setup-cache --packages gcc-g++,ninja,pkg-config,lv2-devel,libfftw3-devel,meson,zip

build_script:   
    - xcopy /i /q /s C:\projects\noise-repellent C:\cygwin-root\home\appveyor\noise-repellent
    - C:\cygwin-root\bin\bash -e -l -c "cd noise-repellent && chmod +x scripts/make-binaries.sh && scripts/make-binaries.sh"

after_build:
    - ps: $tag_name = git describe --abbrev=0 --tags;$target_arch = C:\cygwin-root\bin\uname -m; Rename-Item -Path C:\cygwin-root\home\appveyor\noise-repellent\noise-repellent.zip -NewName noise-repellent-$tag_name-win-$target_arch.zip
    - ps: Push-AppveyorArtifact C:\cygwin-root\home\appveyor\noise-repellent\*.zip

deploy:
    provider: GitHub
    auth_token:
        secure: 6RIsl1PZJnyD7xvCzklFnF6V/ZGTGySNLgmUjGNuIEv2G6dL5qfLV1VZOG7hlJ3P
    artifact: /.*\.zip/                # upload all zip to release assets
    draft: false
    prerelease: false
    force_update: true
    on:
        APPVEYOR_REPO_TAG: true        # deploy on tag push only
      