# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Builds
build/

# Valgrind dumps
*.valgrind

# IDE files
.vscode/
.agent/
.cursor/
.cache/

# Downloaded wrap files
/subprojects/libspecbleach
/subprojects/.wraplock

# macOS files
.DS_Store